<!-- file: kampus.html -->
<!DOCTYPE html>

<html>
    <head>
        <title> Universitas Jenderal Achmad Yani Yogyakarta</title>
    </head>
    
    <body>
        <h1 >Universitas Jenderal Achmad Yani Yogyakarta</h1>
        <p>
            Sivitas akademika mengucapkan mengucapkan terima kasih kepada Ketua Pengurus Yayasan Kartika Eka Paksi (YKEP) Mayor Jenderal TNI (Pur) Adi Mulyono yang telah mengambil kebijakan strategis berupa pendirian Unjani Yogyakarta sebagai wujud kepedulian terhadap tujuan pembangunan nasional, 
            terutama dalam mencerdaskan bangsa dengan disertai menyediakan sarana dan prasarana pendidikan yang memadahi. Juga terima kasih kepada Kepala Staf Angkatan Darat Jenderal TNI Mulyono selaku Ketua Pembina YKEP yang telah meresmikan berdirinya Unjani Yogyakarta pada tanggal 26 Maret 2018 
            dan sekaligus menyerahkan bendera lambang Unjani Yogyakarta kepada Brigadir Jenderal TNI (Pur) Dr. Drs. Djoko Susilo, ST, MT sebagai rektor yang pertama.
        </p>
        <p>
            Unjani Yogyakarta telah menetapkan Visi, yaitu <strong>”Menjadi Universitas Unggul dan Terdepan yang Mandiri, Terpercaya, Kompetitif, dan Memiliki Tata Kelola Yang baik di Tingkat Nasional Tahun 2037 Serta Mewarisi Nilai-nilai Kejuangan Jenderal Achmad Yani”</strong>. 
            Kata unggul dan terdepan bermakna, bahwa Unjani Yogyakarta selalu berada pada level teratas dan tercepat baik dalam input, proses, produk/output, dan outcome dalam aspek tridharma perguruan tinggi (pendidikan dan pengajaran, penelitian, dan pengabdian kepada masyarakat) 
            yang merupakan ciri dari lembaga pendidikan berkualitas. Nilai-nilai kejuangan Jenderal Achmad Yani menjadi penciri dan karakter lulusan Universitas Jenderal Achmad Yani Yogyakarta,yang terangkum dalam sesanti ”Aditya Mahtma Dhaksa”, pertama Aditya (pandai dan bijaksana) 
            kedua, Mahatma (berjiwa besar) ketiga, Dhaksa (cakap dan ahli) yang secara harafiah, bahwa Unjani Yogyakarta senantiasa menghasilkan lulusan yang pandai dan bijaksanan, berjiwa besar, cakap dan ahli dibidangnya.
            Unjani Yogyakarta telah menetapkan Visi, yaitu ”Menjadi Universitas Unggul dan Terdepan yang Mandiri, Terpercaya, Kompetitif, dan Memiliki Tata Kelola Yang baik di Tingkat Nasional Tahun 2037 Serta Mewarisi Nilai-nilai Kejuangan Jenderal Achmad Yani”. 
            Kata unggul dan terdepan bermakna, bahwa Unjani Yogyakarta selalu berada pada level teratas dan tercepat baik dalam input, proses, produk/output, dan outcome dalam aspek tridharma perguruan tinggi (pendidikan dan pengajaran, penelitian, dan pengabdian kepada masyarakat) yang merupakan ciri dari lembaga pendidikan berkualitas. 
            Nilai-nilai kejuangan Jenderal Achmad Yani menjadi penciri dan karakter lulusan Universitas Jenderal Achmad Yani Yogyakarta,yang terangkum dalam sesanti ”Aditya Mahtma Dhaksa”, pertama Aditya (pandai dan bijaksana) kedua, Mahatma (berjiwa besar) ketiga, Dhaksa (cakap dan ahli) 
            yang secara harafiah, bahwa Unjani Yogyakarta senantiasa menghasilkan lulusan yang pandai dan bijaksanan, berjiwa besar, cakap dan ahli dibidangnya.
        </p>
        <p>
            Secara berkelanjutan penguatan Unjani Yugyakarta dengan mengembangkan melalui jejaring kerjasama dengan institusi perguruan tinggi, pemerintah maupun swasta, baik di dalam negeri maupun luar negeri, 
            sehingga pengakuan terhadap eksistensi Unjani Yogyakarta dalam lingkup regional, nasional dan internasional tetap terpelihara dengan baik. Pengembangan insfrastruktur juga menjadi perhatian kami dalam berkemajuan agar dapat bersaing dengan kampus lainnya, 
            salah satu contoh bahwa telah disiapkan beberapa tanah di area sekitar kampus yang akan dibangun gedung baru.Juga terus melakukan pengembangan dan berbagai pembaruan untuk merespon kebutuhan stakeholders (mahasiswa, orangtua mahasiswa, masyarakat profesi dan masyarakat pengguna lulusan).
        
        </p>
        <p>
            Unjani Yogyakarta telah menyiapkan dosen dari berbagai keahlian yang minimal bergelar S-2 yang para dosen tersebut telah berkomitmen mencurahkan tenaga dan pikirannya secara maksimal 
            untuk memberikan kuliah, praktikum, bimbingan akademik, dan bimbingan lainnya kepada para mahasiswa Unjani Yogyakarta dan bahkan kepada para mahasiswa luar yang magang kerja, 
            serta kepada siswa SMA dalam acara kunjungan industri dan kepada masyarakat. Kepada para mahasiswa, bahwa kalian telah terseleksi dan diterima sebagai mahasiswa Unjani Yogyakarta 
            untuk menuntut ilmu dan keterampilan sesuai bidang studi yang kalian inginkan. Kobarkan semangat kalian untuk meraih prestasi dan menjadi pribadi yang pandai danbijaksana, berjiwa besar, cakap dan ahli
            untuk menghadapi ilmu pengetahuan dan teknologi yang semakin pesat perkembangannya guna menyongsong masa depan yang lebih baik serta memajukan kehidupan bangsa dan negara Indonesia. Kepada segenap sivitas akademika khususnya, 
            kami ucapkan selamat berjuang menyongsong kemajuan Unjani Yogyakarta yang semakin unggul dan terdepan. Kepada segenap lapisan masyarakat pada umumnya, khususnya para lulusan SMA sederajat bergabung dengan Universitas Jenderal Achmad Yani Yogyakarta 
            untuk mengikuti pendidikan pada semua program yang tersedia guna meraih prestasi dan menjadi pribadi yang unggul.
        </p>
    </body>
</html>