<!-- file: prodi.html -->
<!DOCTYPE html>

<html>
    <head>
        <title>S1 - Sistem Informasi</title>
    </head>
    <body>
        <h1>Program Studi (Prodi) Sistem Informasi (S-1)Universitas Jenderal Achmad Yani Yogyakarta</h1> 
        <p>
        didirikan atas dasar kebutuhan masyarakat khususnya di berbagai sektor bisnis (pendidikan, pemerintahan, dan lain-lain). 
        Prodi Sistem Informasi merupakan prodi dalam rumpun informatika dan komputer yang fokus kepada capaian visi prodi dalam bidang business intelligence(Kecerdasan bisnis). 
        Pengembangan Sistem Informasi pada suatu unit bisnis sebagai salah satu faktor kunci kesuksesan bagi sebuah organisasi di era ekonomi digital.
        Business Intelligence saat ini sedang menjadi salah satu bidang yang sangat diminati oleh para peneliti maupun industri 4.0 karena dengan integrasi antara industri konvensional dan teknologi informasi, 
        maka akan tercipta suatu produk baru yang lebih menjanjikan di masa depan. Hal ini diikuti dengan jenis-jenis pekerjaan baru di era Industri 4.0 seperti UI/UX Designer, Database Analyst, Data Science, dan business analyst. 
        Kebutuhan industri akan jenis pekerjaan ini semakin tinggi, akan tetapi tidak diimbangi oleh capaian lulusan perguruan tinggi yang mampu menghasilkan lulusan yang memiliki kompetensi di bidang business intelligence (kecerdasan bisnis) 
        yang unggul, berkompeten dan professional seperti yang dibutuhkan didalam industri 4.0 sekarang.
        </p>
    </body>
</html>