<!-- file: profil.html -->
<!DOCTYPE html>

<html>
    <head>
        <title>
            Profil Pembuat Web
        </title>
    </head>
    <body>
        <h1>Profil Saya</h1>
        <ul>
            <li>Nama saya <strong>T Wijatama Diwangkara</strong></li>
            <li>Saya Mahasiswa Prodi S-1 Sistem Informasi</li> dari Universitas Jenderal Achmad Yani Yogyakarta
            <li>Saya sedang belajar mata kuliah <strong>Pengembangan Aplikasi Web Lanjut</strong>
                dengan bahasa pemtograman Python dan framework Flask
            </li>
        </ul>
    </body>
</html>