<!-- file : profil.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>Profil Pembuat Web</title>
    </head>
    <body>
        <h1>Profil Saya</h1>
        <ul>
            <li>Nama saya <strong>Taufaldisatya Wijatama Diwangkara</strong></li>
            <li>Saya mahasiswa program studi <em>S-1 Sistem Informasi</em></li>
            Universitas Jenderal Achmad Yani Yogyakarta
            <li>Saya sedang belajar mata kuliah <strong>Pengembangan Aplikasi Web Lanjut</strong> dengan Python dan Flask</li>
        </ul>
    </body>
</html>